@charset "utf-8";
*{
    margin: 0;
    padding: 0;
}
body{
    height: 100vh;
    min-width: 300px;
    min-height: 500px;
    background-color: rgb(0, 0, 0);
}

@media screen and (min-width: 400px){
    .bg{
        background-image: url('../img/pexels-pixabay-163351.jpg');    
    }
    .loginwindow{
        height: 250px;
        width: 360px;
        background-color: rgba(48, 50, 52, 0.733);
        margin: auto;
        border-radius: 20px;
        color: aliceblue;
    }
}
@media screen and (max-width: 399px){
    .bg{
        background-image: url('../img/pexels-2.jpg');  
    }
    .loginwindow{
        height: 260px;
        width: 260px;
        background-color: rgba(48, 50, 52, 0.733);
        margin: auto;
        border-radius: 20px;
        color: aliceblue;
    }
}
.bg{
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: auto;   
}
.header{
    padding: 3px;
    display: flex;
    justify-content: space-between;
    background-color: white;
 }
 .header-left{
     display: flex;
     align-items: center;
 }
 .header-left-img{
     width: 30px;
 }
 .header-left-text{
     font-weight: bolder;
     font-family: 'Noto Sans TC', sans-serif;
     font-size: large;
 }
 .header-right{
     display: flex;
     align-items: center;
 }

div>ul>li{
    display: inline;
    text-align: center;
}
.article{
    height: 90%;
    float: left;
    width: 100%;
    display: flex;
    align-items: center;
}

.loginwindow-top{
    text-align: center;
}
div>form{
    padding: 10%;
}
div>form>p{
    margin-top: 10%;
}
div>form>input{
    width: 45px;
    float: right;
    margin-top: 30px;
}

.loginbut{
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 5%;
	padding-right: 15%;
	position: relative;
}
.loginbut>a{
	color: rgb(147, 147, 147);
	text-decoration: none;
	font-size: x-small;
	position: relative;
	right: 15px;
}
